<section id="footer">
    <div class="container text-white">
        <div class=" text-center"> 
            <ul>
                <li class="d-inline"><i class="fas fa-wine-glass-alt  mr-4 text-white"></i></li>
                <h3>La Strada del Vino.</h3>
            </ul> 
                <p class="mt-4">© 2020 Copyright | Lina Sofía Vallejo Betancourth</p>  
        </div>  
    </div>    
</section>